// Color Pallete
$color-primary: #F06B3F;
$color-primary-dark: #B85432;
$color-secondary: #81ACBD;
$color-white: #FFFFFF;
$color-gray: #CCCCCC;
$color-gray-light: #EFEEEE;
$color-gray-dark: #414242;
$color-black: #28282B;
$color-blue: #2C43B7;
$color-blue-light: #6A87D5;
$color-green: #50C878;
$color-red: #C70039;

// Shadows
$shadow-dark-xy: 0 0 20px 2px rgba(0, 0, 0, 0.6);
$shadow-light-xy: 0 0 20px 2px rgba(0, 0, 0, 0.3);
$shadow-button: 0px 10px 10px 0px rgba(0,0,0,0.36);
$shadow-button-active: 0px 12px 10px -5px rgba(0,0,0,0.55);