{% load static %} 
<!DOCTYPE html>
<html>
<head>
   <title>Corporate Community</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="{% static 'script/script.js' %}"></script>
</head>
<body>
   {% include "navbar.html" %}
   {% block 'main_block' %}
   {% endblock %}
   <div class="popup-container">
      <span class="popup-container-content"></span>
   </div>
</body>
</html>