{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Login | Corporate Community</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'script/script.js' %}"></script>
</head>

<body>
    <div class="container--login">
        <div class="heading">
            <div class="heading-image">
                <img src="{% static 'assets/companylogo.png' %}" alt="">
            </div>
            <div class="heading-title">Corporate Community</div>
            <div class="heading-subtitle">Login</div>
        </div>
        {% block 'form-container' %}
        {% endblock %}
    </div>
    <div class="popup-container">
        <span class="popup-container-content"></span>
     </div>
</body>
</html>