{% extends 'login.html' %}
{% block 'form-container' %}
<form method="POST" class="form-container" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="email" name="email" id="email" placeholder="Email" required>
        <label for="email">Email</label>
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" placeholder="Password" required>
        <label for="password">Password</label>
    </div>
    <div class="form-group--button">
        <button type="submit" class="btn" id="login-btn">Login</button>
        <a href="{% url 'signup' %}" class="btn">Signup</a>
        <input type="hidden" name="next" value="{{ next }}">
    </div>
</form>
{% endblock %}