<nav class="navbar">
    <div class="navbar-logo">Logo</div>
    <div class="navbar-search">
        <form method="POST" role="search" class="navbar-search-form" id="searchform">
            {% csrf_token %}
            <input type="search" name="search" id="search" placeholder="Search" required>
        </form>
    </div>
    <div class="navbar-profile dropdown-container">
        <input type="checkbox" name="profile" id="profile" class="dropdown" placeholder="profile">
        <ul class="dropdown-list">
            <li>
                <a href="/posts">Home</a>
            </li>
            <li>
                <a href="/profile">My Profile</a>
            </li>
            <li>
                <a href="/user-settings">Settings</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>