<form method="POST" class="form-container" id="newpostform" role="form" name="newpostform" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="title" id="title" placeholder="Title" required>
        <label for="title">Title</label>
    </div>
    <div class="form-group">
        <input type="text" name="description" id="description" placeholder="Description" required>
        <label for="description">Description</label>
    </div>
    <div class="form-group">
        <select name="category" id="category" required>
            <option value="recommendation">Recommendation</option>
            <option value="request">Requests</option>
            <option value="post">Post</option>
        </select>
        <label for="category">Post Category</label>
    </div>
    <div class="form-group">
        <select name="tag-category" id="tag-category" required>
            <option value="location">Location</option>
            <option value="company">Company</option>
            <option value="restaurant">Restaurant</option>
            <option value="accomodation">Accomodation</option>
            <option value="advice">Advice</option>
            <option value="resources">Resources</option>
        </select>
        <label for="tag-category">Tag Category</label>
        <input type="text" name="tags" id="tags" placeholder="Tags" required>
    </div>
    <div class="form-group">
        <input type="file" name="image" id="image" placeholder="Image">
        <label for="image">Image</label>
    </div>
    <div class="form-group--button">
        <button type="submit" class="btn" id="newpost-btn">Create Post</button>
    </div>
</form>