<form method="POST" class="form-container" id="newpostform" role="form" name="newpostform">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="title" id="title" placeholder="Title" required>
        <label for="title">Title</label>
    </div>
    <div class="form-group">
        <input type="text" name="description" id="description" placeholder="Description" required>
        <label for="description">Description</label>
    </div>
    <div class="form-group">
        <input type="text" name="tags" id="tags" placeholder="Tags">
        <label for="tags">Tags</label>
    </div>
    <div class="form-group">
        <input type="file" name="image" id="image" placeholder="Image">
        <label for="title">Image</label>
    </div>
    <div class="form-group--button">
        <button type="submit" class="btn" id="newpost-btn">Create Post</button>
    </div>
</form>