<div class="sidepanel sidepanel--left">
    <ul class="sidepanl-list">
        <li>Posts</li>
        <li><a href="/posts/">All Posts</a></li>
        <li><a href="/posts/?category=recommendation">Recommendation</a></li>
        <li><a href="/posts/?category=request">Requests</a></li>
        <li><a href="/posts/?category=post">Posts</a></li>
    </ul>
</div>

<div class="sidepanel sidepanel--right">
    <ul class="sidepanl-list">
        <li>Tags</li>
        <li><a href="/posts/?tagcategory=location">Location</a></li>
        <li><a href="/posts/?tagcategory=company">Company</a></li>
        <li><a href="/posts/?tagcategory=restaurant">Restaurant</a></li>
        <li><a href="/posts/?tagcategory=accomodation">Accomodation</a></li>
        <li><a href="/posts/?tagcategory=advice">Advice</a></li>
        <li><a href="/posts/?tagcategory=resource">Resource</a></li>
    </ul>
</div>