{% extends 'base.html' %}
{% load static %}
{% block 'main_block' %}
<div class="profile-container">
    <img src="{{ profile.profile_image }}" alt="" class="profile-image">
    <span class="profile-name">{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
    <span class="profile-link">{{ profile.user.username }}</span>
    <div class="profile-title">My Posts</div>
</div>
<div class="post">
    <div class="post-grid">
        {% for post in posts %}
        <div class="post-container" id="{{ post.id }}">
            <div class="post-container-author">
                <img src="{{post.author.profile_image}}" alt="" class="post-container-author-image">
                {{ post.author.user.first_name }} {{ post.author.user.last_name }}
            </div>
            <div class="post-container-title">{{ post.title }}</div>
            <div class="post-container-content">{{ post.description }}</div>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post image" class="post-container-image">
            {% endif %}
            <div class="post-container-tags">
                {% for tag in post.tags.all %}
                <a>#{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}