{% load static %} 
<div class="post-container post-container--modal" id="{{ post.id }}">
    <div class="post-container-author">
        {% if post.author.profile_image %}
        <img src="{{ post.author.profile_image.url }}" alt="" class="post-container-author-image">
        {% else %}
        <img src="{% static 'assets/defaultuserimage.png' %}" alt="" class="post-container-author-image">
        {% endif %}
        <a href="/profile/?profile={{post.author.id}}">{{ post.author.user.first_name }} {{ post.author.user.last_name }}</a>
    </div>
    <div class="post-container-title">{{ post.title }}</div>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="Post image" class="post-container-image">
    {% endif %}
    <div class="post-container-content">{{ post.description }}</div>
    <div class="post-container-tags">
        {% for tag in post.tags.all %}
        <a href="/posts/?tag={{ tag.name }}">#{{ tag.name }}</a>
        {% endfor %}
    </div>
    <div class="post-container-comments">
        <div class="post-container-comments--count">
            {{ post.comments.count }} Comments
        </div>
        <ul class="post-comments">
            {% for comment in post.comments.all %}
            <li>
                <div class="post-comments-author">{{ comment.author.user.username }}</div>
                <div class="post-comments-content">{{ comment.description }}</div>
            </li>
            {% endfor %}
        </ul>
        <form action="POST" class="post-comment-form" id="comment-form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" placeholder="Add comment" name="newcomment" id="newcomment" required>
            </div>
        </form>
    </div>
</div>