.form {
  &-container {
    min-height: 25rem;
    background-color: $color-gray-light;
    box-shadow: $shadow-light-xy;
    border-radius: 5rem;
    padding: 3rem 5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &-title {
    align-self: center;
    font-size: 3.5rem;
    font-weight: 500;
    margin: 1.5rem 0;
  }

  &-group {
    margin: 1.5rem 0;
    padding: 1rem;
    position: relative;

    & input[type="text"].input--login,
    input[type="email"].input--login,
    input[type="password"].input--login {
      background-color: $color-gray;
      border-radius: 3rem;
      border: none;
      height: 5rem;
      outline: none;
      font-size: 2.5rem;
      color: $color-gray-dark;
      padding-left: 1.5rem;

      &::placeholder {
        opacity: 1;
        font-size: 2rem;
        transition: all .5s ease;
      }

      &:focus,
      &:active {
        border-bottom: none;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      outline: none;
      position: relative;
      background: none;
      height: 4rem;
      border: none;
      border-bottom: solid 2px $color-gray-dark;
      font-size: 2.5rem;

      &::placeholder {
        opacity: 1;
        font-size: 2rem;
        transition: all .5s ease;
      }

      &:focus,
      &:active {
        border-bottom: solid 2px $color-primary;

        &::placeholder {
          opacity: 0;
          transform: translateX(-1rem);
        }

        &~label {
          transform: translateX(1rem);
          opacity: 1;
          color: $color-primary;
        }
      }

      &:not(:focus) {
        &::placeholder {
          opacity: 1;
          transform: translateX(0);
        }

        &~label {
          opacity: 0;
          transform: translateX(-1rem);
        }
      }

      &:not(:placeholder-shown) {
        &~label {
          transform: translateX(1rem);
          opacity: 1;
          color: $color-primary;
        }
      }

      &~label {
        left: 0;
        font-size: 1.4rem;
        transition: all 1s ease;
        opacity: 1;
      }
    }

    & label {
      position: absolute;
      top: -2rem;
      font-size: 1.6rem;
      left: 1rem;
      color: $color-primary;
    }

    &--button {
      margin: 3rem 0 2rem 0;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: auto;
    }

    select {
      appearance: none;
      background-color: transparent;
      border: solid 1px $color-gray-dark;
      border-radius: 1rem;
      cursor: pointer;
      font-size: 1.6rem;
      padding: 1rem;
      outline: none;
      scroll-behavior: smooth;
      background: transparent;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 50%;
      padding-right: 2rem;

      &::after {
        content: "";
        width: .8rem;
        height: .5rem;
        background-color: $color-gray-dark;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }
    }

    input[type="file"] {
      padding: 4px;
      margin: -4px;
      position: relative;
      outline: none;

      /* File Selector Button Styles */
      &::file-selector-button {
        border-radius: 4px;
        padding: 0 16px;
        height: 40px;
        cursor: pointer;
        background-color: white;
        border: 1px solid rgba(#000, 0.16);
        box-shadow: 0px 1px 0px rgba(#000, 0.05);
        margin-right: 16px;
        width: 45px;
        color: transparent;

        @supports (-moz-appearance: none) {
          color: var(--primary-color);
        }

        &:hover {
          background-color: #f3f4f6;
        }

        &:active {
          background-color: #e5e7eb;
        }
      }

      &::before {
        position: absolute;
        pointer-events: none;
        top: 14px;
        left: 16px;
        height: 20px;
        width: 20px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
      }

      /*&::after {
        position: absolute;
        pointer-events: none;
        top: 16px;
        left: 40px;
        color: var(--primary-color);
        content: "Upload Image";
      }*/

      /* Handle Component Focus */
      &:focus-within::file-selector-button,
      &:focus::file-selector-button {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
      }
    }
  }
}

.post-comment-form {
  & div.form-group--comment {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    & input[type="text"]#newcomment {
      font-size: 1.4rem;
      flex: 1;
      padding: .5rem;

      &::placeholder {
        font-size: 1.4rem;
      }

      &:active,
      &:focus {
        &+button.btn-comment {
          border-bottom: solid 2px $color-primary;
        }
      }
    }
  }
}