div.popup {

    &-container {
        position: fixed;
        bottom: 6rem;
        z-index: 3;
        left: 0;
        right: 0;
        display: none;
        opacity: 0;
        animation: 3s ease fade;

        & span.popup-container-content {
            font-size: 2rem;
            color: $color-white;
            background-color: $color-black;
            border-radius: 3rem;
            margin: auto;
            box-shadow: $shadow-light-xy;

            padding: 1rem 2.5rem;
            &-error {
                color: $color-red;
            }
        }
    }
}