.profile {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 3rem;
        width: 100%;
    }

    &-image {
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
        margin: auto;
    }

    &-name {
        font-size: 5rem;
        padding: 1rem 0;
        font-weight: 600;
    }

    &-link {
        font-weight: 200;
        font-size: 1.8rem;
        color: $color-blue;
    }

    &-title {
        padding: 3.5rem 0;
        font-weight: 500;
        font-size: 4rem;
    }

    &-description {
        font-size: 2rem;
        font-weight: 500;
    }
}